# URL no sensible del ambiente de desarrollo. Nunca agregar tokens o claves.
EXPO_PUBLIC_API_URL_WEB=http://localhost:5001/api/v1
EXPO_PUBLIC_API_URL_NATIVE=http://192.168.1.111:5001/api/v1
EXPO_PUBLIC_APP_ENV=development
